<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584110670057-8pdkrhr28gmjnrpi3te4bb728ntmj2om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584110670057-8pdkrhr28gmjnrpi3te4bb728ntmj2om</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584110670057-ogsntl12q4d8pql4vv2luqat6mruje01.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyYwbEKiB26cZVpAXfAkz7ttiABG4HpdY</string>
	<key>GCM_SENDER_ID</key>
	<string>584110670057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jgarcia60845.pulperiaj</string>
	<key>PROJECT_ID</key>
	<string>pulperia-j-b6011</string>
	<key>STORAGE_BUCKET</key>
	<string>pulperia-j-b6011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584110670057:ios:680a51f669d014951bf078</string>
</dict>
</plist>